{% extends "layout/default/template.twig" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1 class="card-title">
            {{asunto}}
            <a href="{{BASE}}productos" class="btn btn-outline-secondary">volver</a>
        </h1>
        <div class="col-md-6">
            {% include 'partials/_messages.twig' %}
            {% include 'productos/form.twig' %}
        </div>
    </div>
</div>

{% endblock %}