{% extends "layout/default/template.twig" %}
{% block title %}Bienvenidos{% endblock %}

{% block content %}
    <div class="col-lg-6 col-md-8 mx-auto">
        {% include 'partials/_messages.twig' %}
        <h1 class="fw-secondary">Bienvenidos a CakyLuv.cl</h1>
        <p><img src="{{BASE}}views/layout/default/img/caky_img1.jpg" alt="CakyLuv" width="300rem"></p>
        <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, veniam dolores quis facere consectetur eum minus itaque sit sapiente, quod architecto enim debitis quasi ab iste totam! Quidem, delectus dolorem.</p>
        <p>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam nesciunt totam impedit iusto, illum quasi libero explicabo, eum in illo, quidem magni placeat repellendus. Veritatis, reiciendis? Aspernatur earum incidunt esse?</p>
        <p>
    </div>
{% endblock %}